<!--current="((typeof[nodes[i]==='object' && Array.isArray(nodes[i])) ? 0: ((nodes[i].lastData.t && nodes[i].lastUpdate<120) ? nodes[i].lastData.t : 0))"-->


<div class="row">
	<div class="col-xs2 col-md2">
		&nbsp;
	</div>
	<div class="col-xs-2 col-md-2">
		<div class="progress-wrapper">
			<div class="progress ngcloak" ng-style="{'left':'50%','top':'45%','bottom':'auto','transform':'translateY(-50%) translateX(-50%)','font-size':'17px'}">
				{{((nodes[11].lastData.t && nodes[11].lastUpdate<300) ? (nodes[11].lastData.t | number:1)+"°C" : "n/a")}}
			</div>
			<round-progress max="45" current="((nodes[11].lastData.t && nodes[11].lastUpdate<300) ? nodes[11].lastData.t : 0)" color="#1fb1e1" bgcolor=rgba(0,0,0,0); radius="60" stroke="8" semi="false" rounded="true" clockwise="true" responsive="true" duration="700" animation="easeOutBounce" animation-delay="0"></round-progress>
		</div>
		<div align="center"><a href="#/detail/11"><!--<div><span class="badge">11</span></div>--><div><small>{{nodes[11].name || "n/a"}}</small></div></a></div>
	</div>
	<div class="col-xs-2 col-md-2">
		<div class="progress-wrapper">
			<div class="progress ngcloak" ng-style="{'left':'50%','top':'45%','bottom':'auto','transform':'translateY(-50%) translateX(-50%)','font-size':'17px'}">
				{{((nodes[12].lastData.t && nodes[12].lastUpdate<300) ? (nodes[12].lastData.t | number:1)+"°C" : "n/a")}}
			</div>
			<round-progress max="45" current="((nodes[12].lastData.t && nodes[12].lastUpdate<300) ? nodes[12].lastData.t : 0)" color="#1fb1e1" bgcolor=rgba(0,0,0,0); radius="60" stroke="8" semi="false" rounded="true" clockwise="true" responsive="true" duration="700" animation="easeOutBounce" animation-delay="0"></round-progress>
		</div>
		<div align="center"><a href="#/detail/12"><!--<div><span class="badge">12</span></div>--><div><small>{{nodes[12].name || "n/a"}}</small></div></a></div>
	</div>
	<div class="col-xs-2 col-md-2">
		<div class="progress-wrapper">
			<div class="progress ngcloak" ng-style="{'left':'50%','top':'45%','bottom':'auto','transform':'translateY(-50%) translateX(-50%)','font-size':'17px'}">
				{{((nodes[2021].lastData.t && nodes[2021].lastUpdate<300) ? (nodes[2021].lastData.t | number:1)+"°C" : "n/a")}}
			</div>
			<round-progress max="45" current="((nodes[2021].lastData.t && nodes[2021].lastUpdate<300) ? nodes[2021].lastData.t : 0)" color="#1fb1e1" bgcolor=rgba(0,0,0,0); radius="60" stroke="8" semi="false" rounded="true" clockwise="true" responsive="true" duration="700" animation="easeOutBounce" animation-delay="0"></round-progress>
		</div>
		<div align="center"><!--<div><span class="badge">20+21</span></div>--><div><small>{{nodes[2021].name || "n/a"}}</small></div></div>
	</div>
	<div class="col-xs-2 col-md-2">
		<div class="progress-wrapper">
			<div class="progress ngcloak" ng-style="{'left':'50%','top':'45%','bottom':'auto','transform':'translateY(-50%) translateX(-50%)','font-size':'17px'}">
				{{((nodes[25].lastData.t && nodes[25].lastUpdate<300) ? (nodes[25].lastData.t | number:1)+"°C" : "n/a")}}
			</div>
			<round-progress max="45" current="((nodes[25].lastData.t && nodes[25].lastUpdate<300) ? nodes[25].lastData.t : 0)" color="#1fb1e1" bgcolor=rgba(0,0,0,0); radius="60" stroke="8" semi="false" rounded="true" clockwise="true" responsive="true" duration="700" animation="easeOutBounce" animation-delay="0"></round-progress>
		</div>
		<div align="center"><a href="#/detail/25"><!--<div><span class="badge">25</span></div>--><div><small>{{nodes[25].name || "n/a"}}</small></div></a></div>
	</div>
	<div class="col-xs2 col-md2">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		&nbsp;
	</div>
</div>
<div class="row panel">
	<div class="col-xs-2 col-md-2" align="center">
		<img ng-src="imgs/icons/white/svg/{{weather.currentCode}}.svg">
		<h5>actuel</h5>
		<h3>{{((nodes[2021].lastData.t && nodes[2021].lastUpdate<300) ? (nodes[2021].lastData.t | number:1)+"°C" : "n/a")}}</h3>
	</div>
	<ng-repeat
	<div class="col-xs-2 col-md-2" align="center" ng-repeat="forecast in weather.forecasts">
		<img ng-src="imgs/icons/white/svg/{{forecast.code}}.svg">
		<h5>{{forecast.day}}</h5>
		<div>
			<h5>{{forecast.low}}&deg;</h5>
			<h5>{{forecast.high}}&deg;</h5>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		&nbsp;
	</div>
</div>

<div ng-if="(lat && lng)" class="row">
	<div>{{lat}} {{lng}}</div>
	<div>{{!lastCarUpdate ? "error" : (lastCarUpdate | secondsToString) }} - home : {{distanceFromHome|number}}km / work : {{distanceFromWork|number}}km</div>
	<div ng-if="lat!=0 && lng!=0" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
		<ng-map zoom="16" center="[{{lat}},{{lng}}]">
			<marker position="{{lat}},{{lng}}"</marker>
		</ng-map>
	</div>
</div>
<div ng-if="(!lat || !lng)" class="row" align="center">
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><div class="glyphicon glyphicon-remove-circle"></div></span></button>
	  	<strong>Warning!</strong> unable to localize car.
	</div>
</div>
<!-- <div class="row">
<div class="col-xs-12 col-md-12">
<nvd3 options="nvd3_options" data="nvd3_data"></nvd3>
</div>
</div> -->
